[submodule "Clover/vendor/spdlog"]
	path = Clover/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Clover/vendor/GLFW"]
	path = Clover/vendor/GLFW
	url = https://github.com/viskasssssss/glfw
[submodule "Clover/vendor/imgui"]
	path = Clover/vendor/imgui
	url = https://github.com/viskasssssss/imgui
[submodule "Clover/vendor/glm"]
	path = Clover/vendor/glm
	url = https://github.com/g-truc/glm
