[submodule "Clover/vendor/spdlog"]
	path = Clover/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Clover/vendor/GLFW"]
	path = Clover/vendor/GLFW
	url = https://github.com/viskasssssss/glfw
